*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background: hsl(50, 25%, 40%);
  height: 100vh;
  line-height: 1.5rem;
  text-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

.ul-nav, .ul-footer li{
  list-style-type: none;
}

.ul-nav a, .ul-footer a{
  text-decoration: none;
}

header{
  display: grid;
  grid-template-columns: 1fr 4fr;
  align-items: center;
  background: #222;
  color: #fff;
  border-bottom: 4px solid rgba(3, 102, 214, 0.3);
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

header h1{
  margin-inline: 0.4em;
  font-size: 1.6rem;
  padding: 0.4em 0.6em;
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
  border-radius: 14px;
  text-align: center;
}

.ul-nav{
  display: grid;
  justify-content: end;
  align-items: center;
  text-align: center;
}

.ul-nav a{
  color: #fff;
}

main{
  background: url("./assets/beautiful-lady.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 90vh;
  
}

footer{
  position: fixed;
  bottom: 0;
  min-width: 100%;
  background: #222;
  color: #fff;
  font-size: 0.8rem;
  border-top: 4px solid rgba(3, 102, 214, 0.3);
}

footer h2{
  margin-block: 0.4em;
  text-align: center;
  color: rgba(3, 102, 214, 0.3);
  font-size:1rem;
}

.main-footer{
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
}

.ul-footer{
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.menu a{
  color: #fff;
}

.contact-icons span{
  color: #fff;
}

.social-icons{
  display: flex;
  justify-content: space-between;
  font-size: 1.6em;
}

.foot{
  background: #000;
  text-align: center;
  font-size: 0.6rem;
  padding-block: 0.8em;
  margin-top: 2em;
}

@media screen and (min-width: 768px){
  body{
  line-height: 2.2rem;
}

header{
  display: grid;
  grid-template-columns: 1fr 4fr;
  justify-items: end;
  align-items: center;
  padding-block: 2em;
}

.ul-nav{
  display: flex;
  justify-content: end;
  align-items: center;
  font-size: 2rem;
  gap: 2em;
  margin-right: 2em;
  font-weight: 500;
}

.ul-nav a:hover{
  border-bottom: 5px solid rgba(3, 102, 214);
  background: gold;
  padding: 0.5em 1em;
  color: rgba(3, 102, 214, 0.6);
}

  footer h2{
  margin-block: 0.8em;
  font-size:1.8rem;
}

  .main-footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: start;
    margin-bottom: 1.6em;
    font-size: 1.4rem;
    font-weight: 300;
  }
  
  .social{
  margin-bottom: 0;
}

.foot{
  font-size: 1.4rem;
  padding-block: 1em;
}

}
